.btn_start, .quiz_box, .score_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box {
    width: 600px;

    transform: translate(-250%, -50%) scale(0.5);
    transition: all 0.4s ease-in-out ;

    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title {
    font-size: 24px;
    font-weight: 600;
    color: #6a8195;
    text-align: center;
}

.quiz_box .question_text {
    font-weight: 500;
    font-size: 20px;
}

.quiz_box .option_list {
    padding: 15px 0;
}

.quiz_box .option_list .option {
    border: 1px solid #b4c0ca;
    border-radius: 4px;
    padding: 7px 14px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option_list .option:hover {
    color: #2b3a55;    
    background-color: #f4e83e;
    font-weight: 500;
}

.quiz_box .option_list .option.correct {
    color: #014b33;
    background-color: #cdfeee;
}

.quiz_box .option_list .option.incorrect {
    color: #b30000;
    background-color: #ffcccc;
}

.quiz_box .option_list .option.disabled {
    pointer-events: none;
}

.quiz_box .next_btn {
    opacity: 0;
    pointer-events: none;

    transform: translate(-250%, -50%) scale(0.5);
}

.quiz_box .next_btn.show {
    opacity: 1;
    pointer-events: auto;

    transform: scale(1);
    transition: all 0.3s ease-in-out ;
}

.quiz_box footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Timer */
.quiz_box header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    background-color: #f76e6e;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.quiz_box header .timer .time_text {
    font-size: 13px;
}

.quiz_box header .timer .time_second {
    font-size: 15px;
    background-color: #d90d0d;
    border-radius: 50%;
    padding: 3px;
    margin-left: 5px;
    width: 30px;
    text-align: center;
}

/* Score Box */
.score_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.score_box {
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 40px;

    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}

.score_box .icon {
    font-size: 45px;
    color: #f4970b;
}

.score_box .score_text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}